@page "/"

<div class="mat-layout-grid">
    <div class="mat-layout-grid-inner" style="min-height: 500px;">
        <div class="mat-layout-grid-cell" style="background: aqua"></div>
        <div class="mat-layout-grid-cell" style="background: aqua"></div>
        <div class="mat-layout-grid-cell" style="background: aqua"></div>
    </div>
</div>